/* main의 inner 컨테이너 배치 방법 1 */

/* main .inner {
  height: 100%;
}

.signin-container {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
} */

/* main의 inner 컨테이너 배치 방법 2 */

main {
  position: relative;
}

.signin-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 개체의 너비, 높이에 대해서 각각 -50% 만큼 이동한다 */
  text-align: center;
}

.signin-container h1 {
  font-size: 2.5rem;
}

.signin-form {
  width: 80%;
  max-width: 30rem;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form input {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border: 3px solid var(--dark-gray);
}

#signin {
  padding-left: 0;
  background-color: var(--main-blue);
  border: none;
  color: white;
  cursor: pointer;
}

#signin:hover {
  color: black;
}

.signup-container {
  width: 100%;
  text-align: center;
}

#signup {
  color: black;
  font-size: 1.4rem;
}